div.babyvelsbakes, div.menubar {
  font-family: arial;
  text-align: center;
}

body {
  background-color: #white;
}

h1 {
  color: #e85c69;
  font-size: 5em;
}

h2 {
  font-family: arial;
  text-align: center;
  font-size: 3em;
}

p {
  font-family: arial;
  margin: 50px;
}

ul.menubar {
  list-style-type:none;
  font-family: arial;
  margin-top: 15px;
  padding: 0;
  overflow: hidden;
  background-color: #fff6f0;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center
}


li a {
  display: block;
  color: #3f4447;
  text-align: center;
  font-size:16px;
  padding: 14px 100px;
  text-decoration: none;
}


li a:hover {
  background-color: white;
}
.active {
  border-color: #4CAF50;
}

div.contact {
  font-family: arial;
  text-align: center;
  background-color:#fff6f0;
}

ul.contact {
 list-style-type: none;
 display:inline;
}

h3 {
  margin-bottom:0px;
}

ion-icon {
  font-size: 30px;
}

.bbv {
    width: 700px;
    height: auto;
}
div.carousel {
width: 100%;
height: 100%;
min-width: 1000px;
min-height: 1000px;
}
