head {
  width: 100%;
}

.BVB {
    width: 700px;
    height: auto;
    margin-top: 20px;
}

div.babyvelsbakes {
  font-family: arial;
  text-align: center;
}

body {
  background-color: white;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
}

h1 {
  color: #e85c69;
  font-size: 5em;
}

h2 {
  font-family: arial;
  text-align: center;
  font-size: 2.5em;
}

h3 {
  margin-bottom: 0px;
}

p {
  font-family: arial;
  margin: 30vh 10vw;
  font-size: 1em;
}


/* ul.menubar {
  list-style-type: none;
  font-family: arial;
  margin-top: 15px;
  padding: 18px 11px;
  overflow: hidden;
  background-color: #fff6f0;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center; */
}

/* li a {
  display: flex;
  color: black;
  text-align: center;
  font-size: 16px;
  padding: 14px 100px;
  text-decoration: none;
  justify-content: space-evenly;
} */

.active {
  border-color: #4CAF50;
}

div.contact {
  font-family: arial;
  text-align: center;
  background-color:#fff6f0;
}

ul.contact {
 list-style-type: none;
 display: inline;
}

button.btn btn-outline-success my-2 my-sm-0 {
  text-align: center;
  color: black;
  background-color: white;
}

table {
  font-family: arial;
  margin-left: 37px;
}

.carousel-inner {
  height: 500px;
}

.names_cake {
  font-family: 'arial', cursive;
}

.aboutus {
  font-family: arial;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  padding: 0;
}

.image {
  text-align: center;
  margin: 30px;
}

ion-icon {
  font-size: 30px;
  align-items: center;
}

.logos {
  text-align: center;
}

ul.socialmedia {
  position: relative;
  display: inline-block;
  outline: 0;
  padding: 0 15px;
  padding-bottom: 8px;
  letter-spacing: 4px;
  text-align: center;
  color: #000;
  float: none;
}

.subscribe {
  position: relative;
  text-align: center;
}
