div.babyvelsbakes, div.menubar, div.contact {
  font-family: arial;
  text-align: center;
}

body {
  background-color: #white;
}

h1 {
  color:#e85c69;
  font-size:5em;
}
ul.menubar {
  list-style-type:none;
  margin: 0;
  padding: 0;
  font-family: arial;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff6f0;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

  li a {
  display: block;
  color: #3f4447;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li{
  float:left;
  margin: 0 0 0 0;
}

li a:hover {
  background-color: white;
}

ul.contact {
  list-style-type:none;
  margin: 0;
  padding: 0;
}

li.menubar {
  margin: 0 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
